body{
	margin: 0;
	font-family: Arial;
}
.main-container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.top-text{
	display: inline-block;
	padding: 0;
	line-height: 50px;
}

.rows{
	width: 100%;
}

.top-row{
	width: 100%;
	height: 50px;  
}

.top-row div{
	width: 33.3%;
	height: 50px;
	float: left;
	line-height: 50px;
	text-align: center;
	box-sizing: border-box;
}

.top-row div:first-child{
	text-align: left;
	padding-left: 15px;
}

.top-row div:last-child{
	text-align: right;
	padding-right: 15px;
}

.top-panel{
	height: 50px;
}

.top-row{
	background-color: #09458d;
	color: #fff;
	font-size: 24pt;
}

.separator{
	margin-bottom: 5px;
	margin-top: 5px;
    width: 100%;
    height: 4px;
    background: rgb(9,69,141);
    background: -moz-linear-gradient(left, rgba(9,69,141,1) 1%, rgba(196,213,228,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(9,69,141,1)), color-stop(100%,rgba(196,213,228,1)));
    background: -webkit-linear-gradient(left, rgba(9,69,141,1) 1%,rgba(196,213,228,1) 100%);
    background: -o-linear-gradient(left, rgba(9,69,141,1) 1%,rgba(196,213,228,1) 100%);
    background: -ms-linear-gradient(left, rgba(9,69,141,1) 1%,rgba(196,213,228,1) 100%);
    background: linear-gradient(to right, rgba(9,69,141,1) 1%,rgba(196,213,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09458d', endColorstr='#c4d5e4',GradientType=1);
}

.task-row{
	width: 1536px;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #000;
	font-size: 24pt;
}

.answer-row{
	width: 100%;
	height: 506px;
	background-color: #c4d5e4;
	display: block;
	padding-top: 30px;
}

.both-row{
	width: 100%;
	background-color: #09458d;
	height: 50px;
}

#cover_body{
	margin: 0;
	width: 100%;
	height: 100vh;
	background-image: url(../image/authorize-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: fixed;*/ 
	

}

#cover_main{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display: table-cell;
	margin: 0;
	background-color: rgba(0,0,0,0.40);
/*	width: 0;
	height: 0;*/
	text-align: center;
	vertical-align: middle;
	transition: background-position 0.6 ease-out;
}

#Logo_bar{
	color: white;
	text-transform: uppercase;
	position: absolute;
	font-size: 80px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	top: 100px;
	left: 35%;
}

.entire_row{
	display: inline-block;
	margin: 0 auto;
}

#notify {
		margin: 0 auto;
        background-color: #f45158;
        width: 230px;
        height: 50px;
        vertical-align: middle;
        color: #fff;

}

#notify-cont{
	margin: 0 auto;
	height: 50px;
	width: 230px;
}

#answer-table{
	margin: 0 auto;
}

#answer-table input{
	width: 130px;
	height: 25px;
	text-align: center;
}

#answer-table td{
	height: 25px;
	vertical-align: bottom;
}

#task-table {
	margin: 0 auto;
}


#neadmin-login{
	display: none;
}

#admin-login{
	display: none;
}

.switch_btn{
	width: 200px;
	height:40px;
	border-radius: 10px;
	background-color: #fff;
	border:none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-transform: uppercase;
	font-size: 17px;
}

.btn-cover input:last-child{
	margin-top: 5px;
}

.switch_btn:active{
	background-color: #e6e6e6;
}

.func-btn{
	width: 110px;
	height:30px;
	border-radius: 10px;
	background-color: #fff;
	border:none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-transform: uppercase;
	font-size: 14px;
}

.func-btn:active{
	background-color: #e6e6e6;
}